Makefile*
*.Debug
*.Release
*.o
*.exe
*.qm
*.dll
*.so
./doc

# Qt build
ui_*.h
qrc_*.cpp
moc_*.cpp
GeneratedFiles
bin

# Qt Creator
*.pro.user

# Mac
*.xcodeproj
.DS_Store
*.app
*.dylib

# Windows
Thumbs.db

