[Desktop Entry]
Version=0.1.0
Type=Application
Name=Screenie
GenericName=Screenshot composer
Comment=Create fancy screenshots
Exec=Screenie %U
TryExec=Screenie
Icon=screenie
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;Qt
StartupNotify=true
MimeType=application/x-xsc

