<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="9C717168-DCA4-49F0-894F-2C5CEAF0A0C4" Name="Screenie" Language="1033" Version="1.0.0" Manufacturer="till-art.net" UpgradeCode="479C1D6F-20B5-4EBE-B97E-1157A9563348">
        <Package Description="Screenie" Comments="A fancy screenshot composer" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="Screenie" Name="Screenie">
                    <Component Id="Kernel1.dll" DiskId="1" Guid="7ABBAFAD-AFC2-469C-8DFA-AF4A1E005C7E">
                        <File Id="Kernel1.dll" Name="Kernel1.dll" Source="..\..\bin\release\Kernel1.dll" />
                    </Component>
                    <Component Id="Model1.dll" DiskId="1" Guid="1436EFC5-15B4-4D9D-ADF4-033F664FAA96">
                        <File Id="Model1.dll" Name="Model1.dll" Source="..\..\bin\release\Model1.dll" />
                    </Component>
                    <Component Id="Resources1.dll" DiskId="1" Guid="36A33861-0697-4033-BCBA-EC7B0A1E3348">
                        <File Id="Resources1.dll" Name="Resources1.dll" Source="..\..\bin\release\Resources1.dll" />
                    </Component>
                    <Component Id="Screenie.exe" DiskId="1" Guid="A6A2B006-C3B7-4EA1-9BE6-F97F887331EB">
                        <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="Screenie" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        <File Id="Screenie.exe" Name="Screenie.exe" Source="..\..\bin\release\Screenie.exe">
                        </File>
                        <ProgId Id="Screenie.ScreenieScene" Description="Screenie Scene File" Icon="Screenie.exe" IconIndex="0">
                            <Extension Id="xsc" ContentType="application/x-screenie">
                                <Verb Id="open" Command="Open" TargetFile="Screenie.exe" Argument="1" />
                            </Extension>
                        </ProgId>
                        <RemoveFile Id="RemoveScreenie.ini" On="uninstall" Name="Screenie.ini" Property="till_art.net" />
                    </Component>
                    <Component Id="Utils1.dll" DiskId="1" Guid="7CA0C58B-A021-490F-B83E-F2DB266A258C">
                        <File Id="Utils1.dll" Name="Utils1.dll" Source="..\..\bin\release\Utils1.dll" />
                    </Component>
                    <Component Id="QtCore4.dll" DiskId="1" Guid="68B86918-FB5D-4C46-9193-C90CD3C23C1D">
                        <File Id="QtCore4.dll" Name="QtCore4.dll" Source="$(env.QTDIR)\bin\QtCore4.dll" />
                    </Component>
                    <Component Id="QtGui4.dll" DiskId="1" Guid="67D2D04C-F96B-49EC-926A-FE6468EC3ED6">
                        <File Id="QtGui4.dll" Name="QtGui4.dll" Source="$(env.QTDIR)\bin\QtGui4.dll" />
                    </Component>
                    <Component Id="mingwm10.dll" DiskId="1" Guid="BF3DD2BB-CD2B-4359-A6E2-A5C48C36D2E5">
                        <File Id="mingwm10.dll" Name="mingwm10.dll" Source="$(env.QTDIR)\bin\mingwm10.dll" />
                    </Component>
                    <Component Id="libgcc_s_dw2_1.dll" Guid="06D7059B-7950-4C43-84F8-9B854F7E87E3">
                        <File Id="libgcc_s_dw2_1.dll" Name="libgcc_s_dw2-1.dll" Source="$(env.QTDIR)\bin\libgcc_s_dw2-1.dll" />
                    </Component>
                    <Directory Id="imageformats" Name="imageformats">
                        <Component Id="qjpeg4.dll" DiskId="1" Guid="EBFD6795-99D9-4687-AF84-2F0E9903E398">
                            <File Id="qjpeg4.dll" Name="qjpeg4.dll" Source="$(env.QTDIR)\plugins\imageformats\qjpeg4.dll" />
                        </Component>
                        <Component Id="qtiff4.dll" DiskId="1" Guid="B8D44CB2-F8D4-49FC-8366-3B2A484A2C3E">
                            <File Id="qtiff4.dll" Name="qtiff4.dll" Source="$(env.QTDIR)\plugins\imageformats\qtiff4.dll" />
                        </Component>
                        <Component Id="qgif4.dll" DiskId="1" Guid="6D505D1C-0BE4-4B75-A137-E73C7629A8E6">
                            <File Id="qgif4.dll" Name="qgif4.dll" Source="$(env.QTDIR)\plugins\imageformats\qgif4.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Screenie">
                    <Component Id="StartMenuShortcuts" Guid="E45E227E-6C6D-4843-98C5-0101C34A801A">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="Screenie" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="AppDataFolder">
                <Directory Id="till_art.net" Name="till-art.net">
                    <Component Id="foo" Guid="44AF020F-45FA-4FF6-BF70-C66A5F0099AA">
                        <RemoveFolder Id="Removetill_art.net" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="Screenie" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="Kernel1.dll" />
            <ComponentRef Id="Model1.dll" />
            <ComponentRef Id="Resources1.dll" />
            <ComponentRef Id="Screenie.exe" />
            <ComponentRef Id="Utils1.dll" />
            <ComponentRef Id="QtCore4.dll" />
            <ComponentRef Id="QtGui4.dll" />
            <ComponentRef Id="mingwm10.dll" />
            <ComponentRef Id="qjpeg4.dll" />
            <ComponentRef Id="qtiff4.dll" />
            <ComponentRef Id="qgif4.dll" />
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="libgcc_s_dw2_1.dll" />
            <ComponentRef Id="foo" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <Icon Id="StartMenuIcon.exe" SourceFile="..\..\bin\release\Screenie.exe" />
		<WixVariable Id="WixUILicenseRtf" Value="GPL3.rtf" />
    </Product>
</Wix>